<!-- HTML base template here -->
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
        {% block javascript %} {% endblock %}
        <title> Tomogotchi </title>
    </head>

    <body>
        <!-- The sidebar -->
        <div class="sidebar" id="sidebar_left">
            {% block leftside %}
            {% endblock %}
        </div>

        <div class="container">
            <div id="header">
                {% block header %}
                {% endblock %}
            </div>
            <div id="room">
                <div id="grid-container">
                    <!-- Furniture Grid Items Go Here -->
                    <div class="item">
                        <img id="sprite" src="{% static request.user.player.picture %}" height="100%">
                    </div>
                    {% for furniture in placedFurniture %}
                        <div class="item" style="grid-area: {{ furniture.locationY }} / {{ furniture.locationX }} / span {{ furniture.hitboxY }} / span {{ furniture.hitboxX }};">
                            <img src="{% static furniture.picture %}" alt="{{ furniture.name }}" height="100%">
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block footer %}
            {% endblock %}
            <div id="error"></div>
        </div>

        <!-- The sidebar -->
        <div class="sidebar" id="sidebar_right">
            {% block rightside %}
            {% endblock %}
        </div>
    </body>
</html>
