{% extends "base.html" %}

{% block javascript %} 
{% load static %}
<script> 
    const myUserID = "{{ request.user.id }}"
    const otherHomeURL = function (user_id) {
            return "{% url 'other-home' 0 %}".replace("0", user_id)
        }
    const currentRoomID = "{{ request.user.player.visiting.id }}"
</script>
<!-- Utils MUST be loaded FIRST -->
<script src="{% static 'utils.js' %}" type="text/javascript"></script>  
<script src="{% static 'friends.js' %}" type="text/javascript"></script>
<script src="{% static 'messages.js' %}" type="text/javascript"></script>
{% endblock %}

{% block leftside %}
<div class="sidebar-container">
    <table id="player-info">
        <tr>
            <td class="label-left">
                Your Profile:
            </td>
            <td>
                <a href="{% url 'logout' %}">
                    <button>Logout</button>
                </a>
            </td>
        </tr>
        <tr>
            <td id="player-name">
                <a href="{% url 'home' %}">
                    {{request.user.player.name}}
                </a>
            </td>
            <td id="edit-name-button">
                <button>Edit!</button>
            </td>
        </tr>
    </table>
    <div id="message-area">
        <div id="messages-label" class="label-center">
            Messages:
        </div>
        <table id="messages-box">
            <tbody>
                <tr>
                    <td>
                        <div id="messages-list">
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="message-input"> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    MessageHandler.attachEvents()
</script>
{% endblock %}

{% block rightside %}
<div class="sidebar-container">
    <div id="friends">
        <div id="friends-label" class="label-center">
            Friends:
        </div>
        <table>
            <tr>
                <td>
                    <input type="text" id="search-friend-input"> 
                </td>
                <td>
                    <button type="submit" id="search-friend-button">Q</button>
                </td>
            </tr>
        </table>
        <div id="friends-container">
            <div id="friends-list">
                
            </div>
        </div>
    </div>
</div>
<script>
    FriendHandler.attachEvents()
</script>
{% endblock %}
