{% extends "home.html" %}




{% block header %}
<div id="my-home-header">
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="hunger">Hunger:</label>
                    </td>
                    <td>
                        <progress id="hunger" value="{{request.user.player.hunger}}" max="100"> </progress>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="mood">Mood:</label>
                    </td>
                    <td>
                        <progress id="mood" value="{{request.user.player.mood}}" max="100"> </progress>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="money-container">
        <span>$</span><span id="current-money">{{request.user.player.money}}</span>
    </div>
    <table>
        <tbody>
            {% load static %}
            <tr>
                <td class = "tableButton">
                    <a href="{% url 'shop' %}" >
                        <div class="icon">
                            <img id="shop" src="{% static 'images/icons/shop-icon.png' %}" width="50">
                        </div>
                    </a>
                </td>
                <td class = "tableButton">
                    <a href="{% url 'edit' %}" >
                        <div class="icon">
                            <img id="edit-furniture" src="{% static 'images/icons/edit-icon.png' %}" width="50">
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block footer %}

<div class="food-bar collapsed" id="food-bar">
    <button id="shrink-button" onclick="toggleFood()">Food &#9650;</button>
    <div id="food-bar-container">
        
    </div>
</div>


{% endblock %}

