<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'shop.css' %}" rel="stylesheet" type="text/css">
    {% block javascript %} {% endblock %}
    <script src="{% static 'utils.js' %}" type="text/javascript"></script>  
    <script src="{% static 'shop.js' %}" type="text/javascript"></script>
    <script>
        function iconSelected(iconId, itemName, itemPrice) {
            const icons = document.querySelectorAll('.icon');
            
            icons.forEach(icon => {
                icon.style.border = '2px solid transparent';
            });

            const selectedIcon = document.getElementById(iconId);
            selectedIcon.style.border = '2px solid red';

            const buyButton = document.getElementById('buy-button');
            buyButton.textContent = 'Buy ' + itemName + '! ($' + itemPrice + ')';
        }
        
    </script>
    <title> The Shop! </title>
</head>
<body>
    <div class="main-title">
        Welcome to the Shop!
    </div>
    <div id="error"></div>
    <div class="container">
        <div class="left-half">
            <div class="title-container">
                <img class="shop-sign" src="static\images\backgrounds\wooden_sign.png">
                <div class="title">Food</div>
            </div>
            <div class="grid">
                {% for item in item_list %}
                    <div class="cell" onclick="iconSelected('{{ item.id }}', '{{ item.name }}', '{{ item.price}}')">
                        <img class="icon" id={{item.id}} src="{% url 'get-item-picture' item.name %}" width=100%> 
                        <div class="item-text">
                            {{ item.name }} (${{ item.price }})
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-half">
            <div class="title-container">
                <img class="shop-sign" src="static\images\backgrounds\wooden_sign.png">
                <div class="title">Furniture</div>
            </div>
            <div class="grid">
                {% for furniture in furniture_list %}
                    <div class="cell" onclick="iconSelected('{{ furniture.id }}', '{{ furniture.name }}', '{{ furniture.price }}')">
                        <img class="icon" id={{furniture.id}} src="{% url 'get-item-picture' furniture.name %}" width=100%>
                        <div class="item-text">
                            {{ furniture.name }} (${{ furniture.price }})
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="button-container">
        <a href="{% url 'home' %}">
            <button>Home!</button>
        </a>
        <button id="buy-button">
            Buy!
        </button>
    </div>
    <script>
        ShopHandler.attachEvents()
    </script>
</body>
</html>