/* Base CSS goes here */

@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');

* {
    font-family: 'PF Tempesta Seven', sans-serif;
    font-size: small;
}


body {
    /* font-family: system-ui; */
    font-family: 'Public Pixel', sans-serif;
    height: 100vh;
    overflow: hidden;
}

button {
    margin-inline-start: 1vh;
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

.icon {
    padding-left: 5vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Sprite rendering */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#error {
    color: red;
}

#header {
    min-height: 10vh;
}

.food-bar {
    margin-top: 0.5vh;
    border: #b4e7ff solid 1vh;
    width: 100%;
    height: 12%;  
    position: relative;
    transition: 0.7s;
}

#food-bar-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
}

#invisible-button-container {
    margin-top: 0.5vh;
    width: 100%;
    height: 100%;  
    display: none;
    position: relative;
    transition: 0.7s;
}

.food-bar.collapsed {
    transform: translateY(80%);
}


#shrink-button {
    position: absolute;
    top: -5vh;
    right: 0;
    border: none; 
    padding: 5px; 
    cursor: pointer; 
    background-color: #b4e7ff;
}


#restore-button {
    display: none;
    bottom: 0;
    right: 0;
    position: absolute;
}


.sidebar {
    height: 100%; /* 100% Full-height */
    width: 20vw; /* 0 width - changeable this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}



.sidebar-container {
    padding: 1vh;
    border: #b4e7ff solid 1vh;
    height: 96vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}




#sidebar_left {
    top: 0;
    left: 0;
}

#sidebar_right {
    top: 0;
    left: 80vw;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-top .5s;
    padding: 0.5%;
}

#grid-container {
    height: 57vw;
    width: 57vw;
    max-height: 75vh;
    max-width: 75vh;
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    border-color: pink;
    border-style: dotted;
    border-width: 0.5vh;
    gap: 0vh;
    padding: 0vh;
    overflow: hidden;
    transition: max-height 0.7s ease, max-width 0.7s ease;
}

#grid-container > .gridlines {
    width: auto;
    height: auto;
    border-color: pink;
    border-style: dotted;
    border-width: 0.1vh;
}

#grid-container > .gridlines:hover {
    background-color: aquamarine;
}

.item {
    grid-area: 1 / 1 / span 2 / span 2;
    text-align: center;
    overflow: hidden;
    /* Sprite rendering */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    /* Image fitting */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Fit the entire image within the element */
    object-position: center; /* Center the image within the element */
}

.pixel-art {
    /* Sprite rendering */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    /* Image fitting */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Fit the entire image within the element */
    object-position: center; /* Center the image within the element */
}

#player-info {
    height: 9vh;
    width: 100%;
    outline-offset: 1vh;
    outline: #b4e7ff solid 1vh;
    flex: 0 0 auto;
}

#message-area {
    height: 75vh;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.label-center {
    text-decoration: underline;
    font-size: large;
    text-align: center;
}

.label-left {
    text-decoration: underline;
    font-size: large;
    text-align: left;
}

#message-area {
    flex: 1 1 auto;
}

#messages-box {
    margin-top: 1vh;
    border: pink solid 0.5vh;
    padding: 0.5vh;
    overflow: auto;
    flex: 1 1 auto;
}

tbody {
    vertical-align: bottom;
}

#messages-list {
    vertical-align: bottom;
    justify-content: left;
    min-height: min-content;
}

.msg-info {
    color: gray;
    font-style: italic;
    font-size: small;
    opacity: 50%;
}

input {
    width: 95%;
    margin-top: 1vh;
}

#search-friend-input {
    width: 90%;
}

#friends-container {
    overflow: auto;
    height: 90vh;
}

#friends-list {
    height: auto;
    display: grid;
    align-content: baseline;
    gap: 0.5vh;
    overflow: hidden;
    margin-top: 2vh;
    /* border: pink solid 0.5vh; */
    padding: 0.5vh;
    overflow: auto;
}

#my-home-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#money-container {
    margin: 1vh;
    padding: 1vh;
    border: #b4e7ff dotted 0.5vh;
}

.room-name {
    font-size: 5vh;
    font-weight: bold;
    display: table-cell;
    vertical-align: bottom;
}


#other-player-name {
    padding-top: 3vh;
}

#furniture-editor-title {
    padding-top: 2vh;
}

progress {
    text-align: center;
    accent-color: pink;
}

.scroll-list {
    display: grid;
    grid-template-columns: auto;
    gap: 5vw; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.furniture {
    margin-top: 2vh;
    border: none;
    font-size: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    font-weight: bold;
    min-width: 1vw;
    min-height: 1vh;
    /* overflow: hidden; */
    width: 100px;
    height: 100px;
}

.grid-elem, .center-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.furniture-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    border: none;
    /* Sprite rendering */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.counter-circle {
    position: relative;
    top: -50%; 
    right: 10%;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    height: 20%;
    width: 20%;
    /* Centering text */
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center; 
}

.counter-circle-edit {
    position: relative;
    top: -50%; 
    right: 10%;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 7px;
    font-size: 12px;
    height: 12%;
    width: 20%;
    /* Centering text */
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center; 
}

.food-elem {
    width: 50px; 
    height: 50px; 
    margin-right: 5px;
    margin-left: 5px;
}

.food-elem img {
    width: 50px; 
    height: 50px;
    object-fit: contain; 
    /* Sprite rendering */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    
}