/* Base CSS goes here */
body {
    font-family: system-ui;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 20vw; /* 0 width - changeable this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    /* transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar-container {
    padding: 1vh;
    border: #b4e7ff solid 1vh;
    height: 96vh;
}

#sidebar_left {
    top: 0;
    left: 0;
}

#sidebar_right {
    top: 0;
    left: 80vw;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

#room {
    height: 80vh;
}

#grid-container {
    height: 100%;
    height: 100%;
    display: grid;
    align-content: stretch;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    gap: 0vh;
    border-color: pink;
    border-style: dotted;
    border-width: 0.5vh;
    padding: 0vh;
    overflow: hidden;
}

#grid-container > .gridlines {
    width: auto;
    height: auto;
    border-color: pink;
    border-style: dotted;
    border-width: 0.1vh;
}

#grid-container > .gridlines:hover {
    background-color: aquamarine;
}

.item1 {
    grid-area: 2 / 1 / span 2 / span 3;
    text-align: center;
}

#player-info {
    height: 9vh;
    width: 100%;
    outline-offset: 1vh;
    outline: #b4e7ff solid 1vh;
}

#message-area {
    height: 80vh;
    width: 100%;
    margin-top: 3vh;
}

.label {
    text-decoration: underline;
    font-size: large;
    text-align: center;
}

#messages-box {
    margin-top: 1vh;
    border: pink solid 0.5vh;
    padding: 0.5vh;
    height: 100%;
    width: 100%;
}

tbody {
    vertical-align: bottom;
}

#messages-list {
    height: 74vh;
    vertical-align: bottom;
}

input {
    width: 95%;
    margin-top: 1vh;
}

#search-friend-input {
    width: 90%;
}

#friends-list {
    height: 100%;
    display: grid;
    align-content: baseline;
    grid-template-columns: auto;
    gap: 0.5vh;
    overflow: hidden;
    margin-top: 2vh;
    border: pink solid 0.5vh;
    padding: 0.5vh;
}
