@import url('https://fonts.cdnfonts.com/css/pf-tempesta-seven');

* {
    font-family: 'PF Tempesta Seven', sans-serif;
    font-size: small;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; /* Places the image below the login button */
}

.bg-image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the entire viewport */
}

.login-button-container {
    display: flex;
    justify-content: center;
    position: absolute; /* Position it absolutely relative to the body */
    top: 66.66%; /* 2/3rds from the top */
    left: 0;
    width: 100%;
}

.login-button {
    padding: 10px 20px;
    background-color: white; /* You can change the color */
    color: black;
    text-decoration: none;
    /* border-radius: 5px;
    font-size: 16px; */
    transition: background-color 0.3s;
    border: #b4e7ff 0.5vh;
}

.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
